$color--white               : #FFFFFF;
$color--black               : #000000;
$color--Wgreen              :#C2EFD4;
$color--Lgreen              :#6BC785;
$color--Fgreen              :#10FF70;
$color--green               :#267144;
$color--Dgreen              :#267D49;
$color--Bgreen              :#224F34;
$color--Lgrey               :#e6e6ee;

.color--white               { color: $color--white!important; }
.bg--white                  { background-color: $color--white!important; }
.br--white                  { border-color: $color--white!important; }

.color--black               { color: $color--black!important; }
.bg--black                  { background-color: $color--black!important; }
.br--black                  { border-color: $color--black!important; }

.color--Wgreen               { color: $color--Wgreen!important; }
.bg--Wgreen                  { background-color: $color--Wgreen!important; }
.br--Wgreen                  { border-color: $color--Wgreen!important; }

.color--Lgreen               { color: $color--Lgreen!important; }
.bg--Lgreen                  { background-color: $color--Lgreen!important; }
.br--Lgreen                  { border-color: $color--Lgreen!important; }

.color--Fgreen               { color: $color--Fgreen!important; }
.bg--Fgreen                  { background-color: $color--Fgreen!important; }
.br--Fgreen                  { border-color: $color--Fgreen!important; }

.color--green               { color: $color--green!important; }
.bg--green                  { background-color: $color--green!important; }
.br--green                  { border-color: $color--green!important; }

.color--Dgreen               { color: $color--Dgreen!important; }
.bg--Dgreen                  { background-color: $color--Dgreen!important; }
.br--Dgreen                  { border-color: $color--Dgreen!important; }

.color--Bgreen               { color: $color--Bgreen!important; }
.bg--Bgreen                  { background-color: $color--Bgreen!important; }
.br--Bgreen                  { border-color: $color--Bgreen!important; }


.color--Lgrey               { color: $color--Lgrey!important; }
.bg--Lgrey                  { background-color: $color--Lgrey!important; }
.br--Lgrey                  { border-color: $color--Lgrey!important; }