.homepage {
    &-title {
        margin-left: 150px;

        &_one {
            color: $color--Bgreen;
            @extend .ff--Rufina;
            font-size: 86px;
            @extend .font-weight--bold;
            max-width: 90%
        }

        &_two {
            color: $color--Dgreen;
            @extend .ff--Poppins;
            font-size: 24px;
            @extend .font-weight--500;
            line-height: 220%;
            max-width: 70%;
            
        }

        &-btn {
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            font-weight: bold;
            padding: 25px 60px;
            @extend .ff--Poppins;
            font-size: 20px;
            @extend .font-weight--500;
            border: 2px solid $color--Bgreen;
            background-color: $color--Bgreen;
            border-radius: 2px;
            position: relative;
            box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.4);
            color: white;
            text-decoration: none;
            transition: 0.3s ease all;
            z-index: 1;

            a {
                text-decoration: none;
                color: white;
                background-color: transparent;
            }

            &:before {
                transition: 0.5s all ease;
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                bottom: 0;
                opacity: 0;
                content: '';
                background-color: $color--Lgreen;
                z-index: -1;
            }

            &:hover,
            &:focus {
                color: white;
            }

            &:hover:before,
            &:focus:before {
                transition: 0.5s all ease;
                left: 0;
                right: 0;
                opacity: 1;
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.content {
    &-title {
        padding-bottom: 100px;
        
        
        &-img {
            max-width: 100%;
            background-color: $color--Lgreen;
            border-radius: 150px 50px 150px 50px;
           img{
            max-width: 95%;
           }
        }
    }
}

.bestpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;

    p {
        color: $color--Bgreen;
        font-size: 64px;
        @extend .ff--Roboto;
        @extend .font-weight--500;
        font-style: normal;
        line-height: normal;
    }

    &-title {
        color: #224F34;
        @extend .ff--Poppins;
        font-size: 22px;
        font-style: normal;
        @extend .font-weight--500;
        line-height: normal;
    }
}

.card {
    margin-top: 20px;
    border-radius: 0px;
    border: none;

    &-img {
        background-color: $color--Wgreen;
        border-radius: 0px;
        img{
            max-width: 100%;
        }
    }

    &-title {
        color: #373737;
        text-align: center;
        @extend .ff--Poppins;
        font-size: 22px;
        font-style: normal;
        @extend .font-weight--600;
        line-height: normal;

        &-cash {
            color: #454545;
            @extend .ff--Poppins;
            font-size: 22px;
            font-style: normal;
            @extend .font-weight--500;
            line-height: normal;
            border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
            padding-right: 20px;
        }

        &-populer {
            color: #454545;
            @extend .ff--Poppins;
            font-size: 22px;
            font-style: normal;
            @extend .font-weight--500;
            line-height: normal;
            padding-left: 20px;
        }
    }
}

.seeallBtn {
    display: inline-flex;
    padding: 16px 55px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3px;
    border: 2px solid #224F34;
    transition: 0.5s all;

    a {
        text-decoration: none;
        color: #224F34;
        @extend .ff--Poppins;
        font-size: 22px;
        font-style: normal;
        @extend .font-weight--500;
        line-height: normal;
    }

    &:hover {
        background-color: #224F34;

        a {
            color: white;
        }

        i {
            color: white;
        }
    }
}

.myCarousel {
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .owl-nav {
        font-size: 40px;
        color: $color--Dgreen;
        display: flex;
        justify-content: space-around;
        margin-top: 0px;
    }

    .item {
        width: 400px;
    }
}

.product {
    margin-top: 100px;

    &_title {
        color: $color--Bgreen;
        font-size: 64px;
        @extend .ff--Roboto;
        @extend .font-weight--500;
        font-style: normal;
        line-height: normal;
    }

    &_nav {
        &_item {
            a {
                text-decoration: none;
                color: #454545;
                @extend .ff--Poppins;
                font-size: 22px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
                text-transform: uppercase;
                margin: 20px;
            }

            &::after {
                margin-top: 5px;
                content: '';
                width: 0%;
                height: 2px;
                background: $color--Bgreen;
                display: block;
                transition: 0.5s;
            }

            &:hover:after {
                width: 100%;
            }

            &:hover {
                a {
                    color: $color--Bgreen;
                }
            }
        }
    }
}

.hotpage {
    width: 100%;
    height: 100%;

    &_card {
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                background-color: $color--Lgrey;
            }
        }

        &-title {
            color: #373737;
            text-align: center;
            @extend .ff--Poppins;
            font-size: 18px;
            font-style: normal;
            @extend .font-weight--600;
            line-height: normal;

            &-cash {
                color: #454545;
                @extend .ff--Poppins;
                font-size: 15px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
                border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
                padding-right: 20px;
            }

            &-populer {
                color: #454545;
                @extend .ff--Poppins;
                font-size: 15px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
                padding-left: 20px;
            }
        }
    }
}

.hotpageCarousel {
    padding-bottom: 50px;

    &_card {
        &-img {
            background-color: slategray;
        }

        &-title {
            color: #373737;
            text-align: center;
            @extend .ff--Poppins;
            font-size: 22px;
            font-style: normal;
            @extend .font-weight--600;
            line-height: normal;

            &-cash {
                color: #454545;
                @extend .ff--Poppins;
                font-size: 22px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
                border-right: 1px solid rgba($color: #000000, $alpha: 0.5);
                padding-right: 20px;
            }

            &-populer {
                color: #454545;
                @extend .ff--Poppins;
                font-size: 22px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
                padding-left: 20px;
            }
        }
    }
}

.hotpageCarousel {
    display: none;
    width: 60%;

    .owl-nav {
        margin-top: -320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
        color: #224F34;

        .owl-next {
            margin-right: -60px;
            color: white !important;
            background: $color--Dgreen !important;
            width: 35px;
            height: 35px;
            border-radius: 25px;
            text-align: center;

        }

        .owl-prev {
            margin-left: -60px;
            color: white !important;
            background: $color--Dgreen !important;
            width: 35px;
            height: 35px;
            border-radius: 25px;
            text-align: center;

        }
    }
}

.coutdown-menu {
    background-color: $color--Wgreen;
    max-width: 1377px;
    width: 100%;
    height: 596px;
    margin-top: 200px;

    &-img {
        max-width: 482px;
        width: 100%;
        height: 569px;
    }

    &-title {
        flex-direction: column;

        &_baslik {
            color: #224F34;
            @extend .ff--Roboto;
            font-size: 46px;
            font-style: normal;
            @extend .font-weight--700;
            line-height: normal;
        }

        &_content {
            color: #224F34;
            @extend .ff--Poppins;
            font-size: 22px;
            font-style: normal;
            @extend .font-weight--500;
            line-height: 167%;
            text-wrap: wrap;
        }
    }

    &-time {
        width: 450px;

        &_box {
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            border-radius: 3px;
            background: #FFF;
            text-align: center;
            padding: auto;
            box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);

            .days {
                color: #224F34;
                @extend .ff--Poppins;
                font-size: 32px;
                font-style: normal;
                @extend .font-weight--600;
                line-height: normal;
            }

            .hours {
                color: #224F34;
                @extend .ff--Poppins;
                font-size: 32px;
                font-style: normal;
                @extend .font-weight--600;
                line-height: normal;
            }

            .minutes {
                color: #224F34;
                @extend .ff--Poppins;
                font-size: 32px;
                font-style: normal;
                @extend .font-weight--600;
                line-height: normal;
            }

            .smalltext {
                color: #224F34;
                @extend .ff--Poppins;
                font-size: 16px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: normal;
            }
        }
    }

    &-btn {
        width: 235px;
        height: 74px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 25px 60px;
        @extend .ff--Poppins;
        font-size: 20px;
        @extend .font-weight--500;
        border: 2px solid $color--Bgreen;
        background-color: $color--Bgreen;
        border-radius: 2px;
        position: relative;
        box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.4);
        color: white;
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;

        a {
            text-decoration: none;
            color: white;
            background-color: transparent;
        }

        &:before {
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            content: '';
            background-color: $color--Lgreen;
            z-index: -1;
        }

        &:hover,
        &:focus {
            color: white;
        }

        &:hover:before,
        &:focus:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}
.clother{
    margin: 200px;
}
.designer{
    &_title{
        color: #224F34;
        @extend .ff--Roboto;
        font-size: 50px;
        font-style: normal;
        @extend .font-weight--500;
        line-height: normal;
        &_small{
            color: #224F34;
            @extend .ff--Poppins;
            font-size: 22px;
            font-style: normal;
            @extend .font-weight--500;
            line-height: normal;
        }
    }
    &-img{
        img{
            max-width: 100%;
        }
        &-title{
            color: #373737;
            @extend .ff--Poppins;
            font-size: 30px;
            font-style: normal;
            @extend .font-weight--600;
            line-height: normal;
            &-small{
                width: 420px;
                height: 93px;
                color: #373737;
                @extend .ff--Poppins;
                font-size: 22px;
                font-style: normal;
                @extend .font-weight--500;
                line-height: 143%;
            }
        }
    }
}
.feedback-title{
    @extend .ff--Roboto;
    @extend .font-weight--500;
    font-size: 50px;
    color: $color--Dgreen;
}
.feedbackpage{
    padding: 100px;
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 434px;
        margin: 20px;
        height: 350px;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
        padding: 20px;
        &_tt{
            color: $color--Dgreen;
            @extend .ff--Roboto;
            @extend .font-weight--500;
            font-size: 50px;
            padding:5px;
        }
        &-title{
            color: $color--Dgreen;
            @extend .ff--Roboto;
            @extend .font-weight--500;
            font-size: 22px;
            padding:10px;
            &_small{
                @extend .ff--Poppins;
                @extend .font-weight--300;
                font-size: 16px;
                color: #6f6f6f;
                padding:10px;
            }
        }
    }
    .owl-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        .owl-prev{
            font-size: 30px !important;
            margin: 15px;
            background: #FFF !important;
            width: 32px;
            height: 32px;
            text-align: center;
            &:active{
                background-color: $color--Wgreen !important;
            }
        }
        .owl-next{
            font-size: 30px !important;
            margin: 15px;
            background: #FFF !important;
            width: 32px;
            height: 32px;
            text-align: center;
            &:active{
                background-color: $color--Wgreen !important;
            }
        }
    }
}
@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {
    .homepage {
        &-title {
            margin-left: 0px;

            &_one {
                
                font-size: 70px;
            }

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
    
}


@include media-breakpoint-down(md) {

    .card-img {
        width: 300px;
    }

    .coutdown-menu {
        height: auto;
        flex-direction: column;

        &-img {
            width: 450px;
            height: 460px;
        }

        &-title {
            width: 360px;
            height: 400px;

            &_baslik {
                margin-top: 70px;
                width: 300px;
                font-size: 25px;
            }

            &_content {
                width: 300px;
                font-size: 20px;
            }
        }

        &-time {
            width: 360px;
            flex-wrap: wrap;
        }

        &-btn {
            width: 100%;
        }
    }
    .clother{
        margin:50px;
    }
    .designer{
        &-img{
            &-title{
                font-size: 25px;
                &-small{
                    font-size: 20px;
                }
            }

        }
    }
}

@include media-breakpoint-down(sm) {
    .cards {
        display: none;
    }

    .seeallBtn {
        margin-top: 250px;
    }

    .myCarousel {
        display: block;
        margin: auto;
    }

    .product {
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;

            li {
                padding: 0px;
            }
        }
    }

    .hotpage {
        display: none;
    }

    .hotpageCarousel {

        &_item {
            width: 50%;
        }

        display: block;
    }
    .designer{
        &-img{
            &-title{
                font-size: 20px;
                &-small{
                    font-size: 15px;
                }
            }

        }
    }
}

@include media-breakpoint-down(def) {}