<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <div class="row">
            <div class="col-4">
                <span class="footer_menu1-title">Rivo</span><br><br>
                <span class="footer_menu1-title_small">Social Media</span>
                <div class=" footer_menu1-icons">
                    <a href="#"><i class="icon-facebook2"></i></a><a href="#"><i class="icon-twitter"></i></a><a
                        href="#"><i class="icon-instagram"></i></a>
                </div>
            </div>
            <div class="col-2">
                <ul class="footer_menu2-list">
                    SHOP
                    <li class="footer_menu2-list_item"><a href="#">Products</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Overview</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Pricing</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Releases</a></li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="footer_menu2-list">
                    COMPANY
                    <li class="footer_menu2-list_item"><a href="#">About Us</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Contact</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Contact</a></li>
                    <li class="footer_menu2-list_item"><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-4">
                <div class="footer-menu3">
                    <span class="footer-menu3_title">STAY UP TO DATE</span> <br><br><br><br>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control br--Wgreen bg--Bgreen color--white"
                            placeholder="Enter your Email" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn bg--Wgreen color--Dgreen" type="button" id="button-addon2">SUBMIT</button>
                    </div>
                </div>
            </div>
            <div class="footer-border">
                <div class="row">
                    <div class="col-9">
                        <span class="footer-hr">
                            <hr>
                        </span>
                    </div>
                    <div class="col-3 d-flex justify-content-between align-item-center mt-2"><a href="#">Terms</a> <a
                            href="#">Privacy</a> <a href="#">Cookies</a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button bg--Dgreen" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <span class="accordion_menu1-title">Rivo</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body  bg--Dgreen">
                    <span class="accordion_menu1-title_small">Social Media</span>
                    <div class=" accordion_menu1-icons">
                        <a href="#"><i class="icon-facebook2"></i></a><a href="#"><i class="icon-twitter"></i></a><a
                            href="#"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="accordion-item">
            <h2 class="accordion-header bg--Dgreen" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed bg--Dgreen" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <span class="accordion_menu2-list">SHOP</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body  bg--Dgreen">
                    <ul class="accordion_menu2-list">
                        <li class="accordion_menu2-list_item"><a href="#">Products</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Overview</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Pricing</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Releases</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed bg--Dgreen" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    <span class="accordion_menu2-list">COMPANY</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body  bg--Dgreen">
                    <ul class="accordion_menu2-list">
                        <li class="accordion_menu2-list_item"><a href="#">About Us</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Contact</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Contact</a></li>
                        <li class="accordion_menu2-list_item"><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed bg--Dgreen" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                    <span class="accordion-menu3_title">STAY UP TO DATE</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body  bg--Dgreen">
                    <div class="input-group">
                        <input type="text" class="form-control br--Wgreen bg--Bgreen color--white"
                            placeholder="Enter your Email" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn bg--Wgreen color--Dgreen" type="button" id="button-addon2">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="socialMedia p-4">
            <div class="row">
                <div class="col-12">
                    <div class="accordion_menu1-title">Rivo</div>
                </div>
                <div class="col-12 d-flex mt-3">
                    <span class="accordion_menu1-title_small d-flex justify-content-start">Social Media</span>
                    <div class=" accordion_menu1-icons">
                        <a href="#"><i class="icon-facebook2"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>