<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header"> 
        <div class="header-custom-container">
          <div class="row m-0">
            <div class="col-lg-4">
                <a href="#"class="header_logo">Rivo</a>
            </div>
            <div class="col-lg-4">
                <ul class="header_list d-flex justify-content-between">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">SHOP</a>
                    </li>
                    <li>
                        <a href="#">FEATURES</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="header_title">
                    <ul class="d-flex justify-content-end">
                      <li class="">
                        <a href="javascript:void(0);" id="alisveris-butonu"><i class="icon-cart"><span id="item-count"></span></i></a>
                      </li>
                      <li class="">
                        <a href="#" class="header_title_loginBtn">
                          LOGIN
                          </a>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
        </div>
    </header>
    <div class="sepet-menu">
        <div class="sepet-menu-header d-flex justify-content-between align-item-center">
          <span class="sepet-menu-header-title">CART</span>
          <button id="geri-butonu" type="button" class="btn-close" aria-label="Close"></button>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Rivo</a>
          <a href="javascript:void(0);" id="alisveris-butonu"><i class="icon-cart"><span id="item-count"></span></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>