html {
    -webkit-font-smoothing: antialiased;
    
}

body{
    overflow-x: hidden;
 }

 .custom-container {
    margin-left:175px;
    margin-right:175px;
    overflow: hidden;
 }
 .header-custom-container{
    margin-left:175px;
    margin-right:175px;
 }
 ::-webkit-scrollbar{
   background-color: $color--Wgreen;
   width: 20px;
}
::-webkit-scrollbar-button{
   background-color: $color--Bgreen;
   color: white;
}
::-webkit-scrollbar-thumb{
   background-color: $color--Dgreen;
}
@media (max-width:1366px) { }
@include media-breakpoint-down(lg)  { 
    .custom-container {
        margin-left:0px;
        margin-right:0px;
     }
}
@include media-breakpoint-down(md)  { }
@include media-breakpoint-down(sm)  { }
@include media-breakpoint-down(def) { }